[2018-06-28 17:04] dasaderi opened #1 "Location and Dates"
The tentative dates for OpenCon Cascadia are **January 11 and 12**. The conference will begin with an evening networking reception on Friday, January 11; talks and workshops will take place on the 12th. As a free conference we are looking to find a organization that will provide a venue and AV equipment at no cost.

Below are some details about specific space and AV needs.

No. of Expected Attende

[2018-06-28 17:05] dasaderi opened #2 "Potential speakers"
Please list potential speaker that you would like to invite for the event.

[2018-06-28 17:07] dasaderi opened #3 "Conference outcomes"
Intended conference outcomes as discussed at first meeting:
* Engagement with and training for early career researchers, student and faculty around publishing, scholarly outputs, and using open methods throughout the research process.

* Create a multidisciplinary community.  Make sure that librarians, faculty, and individuals from different  backgrounds and expertise interact and partner.

* Bala

[2018-06-28 17:08] dasaderi opened #4 "Unconference(s) / Do-a-thon(s) / Workshop(s)"
* Collaboration best practices in community building and tools/techniques.

* Open practice strategies and methodologies, including governance, outreach, community building, peer-review.

* Mix of unconference, short training sessions, casual networking in the evenings, short workshops, intro workshops for people new to open science.

* Use mentoring to link people and technology to keep them conn

[2018-06-28 17:20] dasaderi opened #5 "Develop a plan for reaching out to young professionals"
Pam, Ashley, Daniela, Emily and Sam
**The question is what is the most effective way that we can reach out to early career science researchers in this region, let them know the OC is happening in January, and get information back from them about what kind of mentoring they would like at the Con?**

Emily F.: Solicit the kind of mentorship needed is via the registration form. A question on the form

[2018-06-28 18:00] dasaderi commented on #5
Should we schedule a call to discuss this strategy?

[2018-06-29 22:54] dasaderi commented on #1
Ideas for locations and action items decided at last call on June 29, 2018:
- CLSB (OHSU/PSU): Free February 1st and 2nd (Robin)
- White Stag (UO):  Jonathan Cain will check into dates and cost
- Gates Foundation (Seattle): Daniela will ask Ashley Fairly
- Reed: David Isaac will look into Reed as possibility in the winter time
- Portland State Business Accelerator (accelerator@pdx.edu)

The group

[2018-06-29 23:10] dasaderi opened #6 "Fundraising"
We would like the conference to be free of charge to participants. The Location team will try to confirm the venue in the next two weeks (by July 13), and hopefully that will give us a better idea about how much and what to fundraise for.

[2018-07-02 20:11] PJP1313 commented on #5
The week of July 16th would be best for a call for me. What times and days work for everyone?

[2018-07-02 20:54] ashleyfarley commented on #5
I agree that the week of July 16th works best. I am very flexible on days/times and can work around other's schedule.

[2018-07-02 21:21] dasaderi commented on #5
Great! I'll email the group shortly to schedule a call. Thank you!

[2018-07-02 22:42] walecain commented on #1
I have contacted the Event Manager at UO Portland about the Whitestag.  Unfortunately, its not free but, I was able to get an idea of cost.  The basics
- Room 142/144(Auditorium) + Light COurt Commons(Reception & Reservation) $300.00 (for 4 hrs.) + $75.00 per hour (for everything over the 4 hrs.)
- Classrooms (breakout rooms) $160.00 (4 hrs.) + $40.00 ( additional hrs.)
- Weekend fees $120.00 + $3

[2018-07-03 22:35] dconner3 commented on #1
Requested a quote from Reed's Conference and Events Planning. The earliest I will hear back is 7/10/18.

[2018-07-09 19:58] dconner3 commented on #1
Holding the event at Reed would not be free. [Here is a webpage listing the prices.]( http://reedevents.reed.edu/plan-an-event/facility-use-rates.html)

OpenCon could be at either the non-profit or (the less expensive) co-sponsor rate. I cannot guarantee that Reed would agree to co-sponsor the event at this time, so it is more prudent to plan at the non-profit rate.

The most affordable option wit

[2018-07-09 23:36] dasaderi commented on #1
@walecain and @dconner3, thank you so much for looking these up. It looks like UO would be cheaper, but still not ideal if we want to have this event free to participants.

It looks like it might be worth to wait until February and have the CLSB for free. @rchampieux and @daniellecrobinson, other ideas?

[2018-07-11 15:57] doramaar commented on #5
I can't make the call but am still interested in helping!

[2018-07-11 18:04] dconner3 commented on #1
I think it is worth considering postponing until February to use the free CLSB site. Their will inevitably be other costs that fundraising will have to cover (speaker travel, food, etc) so having space be free would go a long way toward reducing overall costs. Should we bring this idea back to the larger group?

[2018-07-13 18:23] walecain commented on #1
Ditto.

[2018-07-13 20:44] dasaderi commented on #5
July 12 – Call to plan how to reach out to young professionals and metorship roundtable's topics:
Who's on the call? Daniela, Ashley, Pam

**How should we reach out?**
- Tap on our networks and try to avoid only reaching out to immediate one.
- In the registration form for the conference ask for what kind of mentorship would they want to receive.
- In the registration form also ask for what method

[2018-07-17 14:25] dasaderi commented on #3
@lwinfree and @apreshill any progress with the website/splash page?

[2018-07-17 17:09] lwinfree commented on #3
@dasaderi Yes :-) The website is here: https://opencon-cascadia.github.io/
and [here](https://github.com/OpenCon-Cascadia/OpenCon-Cascadia.github.io/issues) is the issue tracker for the website (please add issues for things you'd like changed)

[2018-07-17 18:14] daniellecrobinson commented on #1
@dasaderi sounds good to me - @rchampieux what do you think?

[2018-07-17 21:24] rchampieux commented on #1
Hi @dasaderi @walecain @dconner3 @daniellecrobinson my apologies for the silence - I'm catching up from my trip.  By this location do you mean the CLSB in February?  If so, I agree and can work with events at OHSU to book it.  We will have a small AV budget to cover that it's very reasonable.  Likely less than $700.

[2018-07-17 22:16] dasaderi commented on #1
@rchampieux, yes, sorry, I meant CLSB in February. I think we should just go for it so we can start planning everything else. Also it's a great location and it's affordable. I'd go ahead and book it. Thank you!

[2018-07-17 22:18] dasaderi commented on #3
@lwinfree and @apreshill, it's AMAZING! Thank youuuu! :dancing_women:

[2018-07-18 16:44] dconner3 commented on #1
Agreed!

[2018-07-23 22:58] doramaar commented on #5
Regarding the last bullet point on content to offer... is this related to digital identity? Would there be interest by participants in learning about identity management in relation to open? (I'm thinking here about things like academia.edu, researchgate, ORCID, ImpactStory, etc....)

[2018-07-23 23:03] dasaderi commented on #5
@doramaar that's a great idea! I'm totally in for that kind of discussion. In the new PREreview 2.0 platform we will be experimenting a little with that issue, and I'd love to get people's perspective on digital identities, particularly how to navigate open/anonymous identities when signing reviews in the context of wanting to push for shift in reward systems and incentives.

[2018-08-10 21:50] dasaderi commented on #1
Dates CONFIRMED for February 1-2. The only caveat is that the room at the CLSB on the 1st will be available only after 5pm. @rchampieux will work with OHSU facilities to obtain more details and book the room.

[2018-08-12 17:46] dasaderi commented on #1
@daniellecrobinson will check with Mozilla if we can do the Meet and Greet on Friday February 1st at their newly renovated office. Another idea is to do it at Reed. @dconner3 would that cost us money?

[2018-08-12 18:00] dasaderi commented on #3
At our last call, Jill suggested to also map out "unintended consequences". e.g., we don't want the conference to only have librarians, or only have researchers. We need to identify our assumptions and ensure we address them best we can within our team.

[2018-08-12 18:11] dasaderi opened #7 "Mission Statement"
We need to write our Mission Statement and share it on the website.

At our last call (August 10) we identified some key points we want coming across in our Mission Statement. Possibly use text in this repo's README.md as starting point.

From call's brainstorming session:

- We want the mission statement to speak to different communities operating in the space, communicating our message across di

[2018-08-12 18:34] dasaderi commented on #2
From our last call (August 10), we have identified finding 2-4 potential Keynote speakers to start sending out invitations.

Having the keynote names picked and start sending out invitation asap can help with fundraising and getting people to sign up for the conference.

Women working in open database https://fyoaw.vickysteeves.com/ (might be helpful for searching for info)

Names that came up dur

[2018-08-13 16:44] PJP1313 commented on #2
I would be glad to reach out to Cassidy Sugimoto. She was my professor during library school at Indiana University. Please let me know if you would like me to do that.

[2018-08-13 16:51] dasaderi commented on #2
Thank you @PJP1313. @daniellecrobinson, @walecain, @dconner3, how do you suggest we go about this list? Should we solicit more name-storming among all organizers, or should we stick with what we have and take it to the votes?

Once we have two-three Keynote names picked we can start emailing them. Thanks.

[2018-08-14 21:59] ashleyfarley commented on #7
1st Draft - feel free to iterate

It is the mission of OpenCon Cascadia to build an inclusive, collaborative community, spanning all disciplines and research communities, by flattening hierarchical structures to provide a more open and equitable place for individuals to thrive. This Pacific Northwest community aims to support and foster, mentorship, innovative solutions, and energizing conversatio

[2018-08-14 22:09] ashleyfarley commented on #2
I think we should work with the list as we have it. Have everyone vote for their top 3 and then send invitations out to see what happens.

Here is a potential invitation email that I used a while back to set up a panel:

Subject: Speaking Invitation: OpenCon - Cascadia

Dear [Name],

On behalf of the OpenCon Cascadia organizing commitee, I am pleased to invite you to join as a keynote speaker at O

[2018-08-15 14:47] dasaderi commented on #2
@ashleyfarley, thank you for putting together the invitation email. I think focusing on the list we have right now is a good idea.
Here are my top three votes for the Keynote: April Hathcock, Leslie Chan, and Heather Piwowar.

Should I email everyone and ask them to vote? I can easily put these names into a google form and get votes that way. @daniellecrobinson and @walecain, what do you think?

[2018-08-15 18:43] daniellecrobinson commented on #2
@walecain @dconner3 and I have a call to discuss tomorrow, we will update the group after that call!

[2018-08-20 19:03] Bubblbu commented on #2
I created a Doodle poll with the 20 names in the list. Maybe that's a bit easier to work with than having 10+ votes of each 3 names in the thread here. Feel free to disregard if leaving comments turns out to be simpler :)

https://doodle.com/poll/4xdaqpysbh4f7fcu

[2018-08-26 10:57] dconner3 commented on #2
My apologies for the delay in responding. @daniellecrobinson and @walecain and I met on 8/16/18 to discuss ways to move forward with choosing which speakers to approach as possible keynotes.

This is what we propose:

1.	Though we all endorse the concept of planning in the open, we think it would be most appropriate to have conference organizers discuss the merits of individual potential speakers

[2018-08-26 11:05] dconner3 commented on #1
Yes, to do just the reception at Reed would still cost money. I am not sure of space availability for the February dates, but the cost of the space would range somewhere between $200-$1200 depending on the size and niceness of the venue. Catering chargers would be extra. Should I look into this or does the renovated Mozilla seem more promising?

[2018-08-26 11:16] dconner3 commented on #7
This first draft looks really great! I just added in a few phrases to this 2nd version:

It is the mission of OpenCon Cascadia to build an inclusive, collaborative community, spanning all disciplines, domains, and research communities, by flattening hierarchical structures to provide a more open and equitable place for individuals to thrive. This Pacific Northwest community aims to support and fos

[2018-08-26 19:57] dasaderi commented on #7
Great! Please create a CoC issue. :)

[2018-08-26 20:00] dasaderi commented on #2
Thank you @PJP1313, @walecain, and @daniellecrobinson! I love these criteria. Could you please share the Google Doc with the organizing group?

[2018-08-26 20:02] dasaderi commented on #1
@dconner3, that sounds like too much money for a meet & greet. @daniellecrobinson, do you want to check if Mozilla downtown office space would be available?

[2018-08-26 20:02] dasaderi commented on #1
@rchampieux is the room in CLSB confirmed for February 1-2?

[2018-08-26 20:51] dconner3 opened #8 "Code of Conduct"
A place to start drafting a Code of Conduct for the conference.

Last year, there was [a really great conference](https://csvconf.com/) in town that used this [Code of Conduct](http://confcodeofconduct.com/). Perhaps a sub-group could review this and see if it  meets our mission / needs any edits or additions?

Also, this was suggested by @ashleyfarley on another issue:
Maybe the following can be

[2018-08-26 20:52] dconner3 commented on #7
Done: https://github.com/OpenCon-Cascadia/planning_in_the_open/issues/8

[2018-08-26 20:54] dconner3 commented on #2
Yes, I can do that. @dasaderi or @rchampieux , do you have a list of emails for everyone on the planning group? I know different people have attended different calls and I don't want to leave anyone off by mistake...

[2018-08-29 18:34] ashleyfarley commented on #7
Great! Do we need to get sign off from the larger group on the mission
statement before adding to the website?

On Sun, Aug 26, 2018 at 1:52 PM David Isaak <notifications@github.com>
wrote:

[2018-09-23 17:16] dasaderi commented on #2
@dconner3 I'm so sorry I have not replied in so long. I was traveling these past three+ weeks and did not have much time to sort out things. So now I'm behind on pretty much everything else in my life. The email list should be in your latest calendar invite for this next week call as well as in the last email you got from me.

[2018-09-28 22:42] Bubblbu opened #9 "Registration form"
Editable link for the Google Form is in the organisation document. (tbd)

Currently suggested fields for the registration form:

- Disclaimers
  - Free event
  - Email
  - Privacy
- Personal
  - Full Name
  - Age range
  - Email
  - Institution
  - Current job/career status
  - Pronouns
  - Mentorship section (related to #5)
  - Have you attended an OpenCon event before?
- Attendance
  - Planning

[2018-09-28 23:09] dasaderi opened #10 "Childcare"

[2018-09-28 23:24] dasaderi opened #11 "Communication"
- Send out save the date via our channels (opencon mail-list, twitter, ?)
- Figure out a contact email to share on website for people to ask questions and twitter handle/hashtag *#OpenConCascadia18*
- Create a gmail account for email communication ?
- Link email to contact form current on the website
- Stickers, OCC logo (Ashley) -- Check out standard dimensions: http://hexb.in/sticker.html

[2018-09-28 23:28] dasaderi commented on #5
Hello you all. We are putting together the registration form (see working gdoc with agenda notes). We need to decide what to ask ECRs about interest with mentorship events/workshop we want to propose for the conference.

[2018-09-28 23:33] dasaderi commented on #10
@lwinfree please link here or in the gdoc to example childcare interest form you used for Rcascadia. Thanks!

[2018-09-29 03:35] ashleyfarley commented on #1
Quick logistical question: I know the aimed number is 120. Is this our cap? It might be good to have a cap for communications/marketing.

[2018-09-29 03:48] ashleyfarley commented on #8
I've set up a section titled "Code of Conduct" in the Google Doc Appendix for working text edits.

[2018-09-29 04:24] dasaderi commented on #11
WOW, @ashleyfarley you rock! Thank you!

[2018-09-29 04:40] dasaderi commented on #8
Thank you @ashleyfarley!

As I suggested in the doc, we can always use [OpenCon's CoC](https://www.opencon2018.org/code_of_conduct). Also we should have a safety team, usually 2 organizers. I volunteer to be one as I have done it in the past.

[2018-09-29 04:44] dasaderi commented on #1
Good point about the communication. I think we said that would be our cap, yes. Should we do first register first served? Or should we have reserved positions for students/postdocs, PIs, librarians, etc. to ensure a balanced and diverse mix?

[2018-10-01 16:25] pamelapierce commented on #5
Definitely at least one multiple choice question that asks them what form of mentorship they would prefer: 1. Panel 2. One on one conversations. 3. Reception.  Those are just a few possible options.

[2018-10-02 14:37] doramaar commented on #5
I agree with above, but I wonder if we could use some different language aside from panel. To me, panels are impersonal, and mostly like a "sage on the stage" of people sharing their experience with limited time for questions. I feel like a word to signal something more interactive would be better... Workshop? Roundtable? Discussion?

[2018-10-02 20:48] dasaderi commented on #2
Emails sent to Drs. Kadija Ferryman and Leslie Chan. Hopefully they'll say yes! :)

[2018-10-04 15:55] dconner3 commented on #1
If the cap is 120, perhaps we could open it up to first registered-first served for the first 75 or so. Then we could look at the titles/affiliations of the registrants and see if we need to promote the conference more heavily in other areas to balance out the mix?

[2018-10-04 15:56] dasaderi commented on #1
@dconner3 I like that idea! @Bubblbu, any progress with registration form draft?

[2018-10-04 15:57] dasaderi commented on #2
Dr. Chan has confirmed :tada:! Waiting to hear a confirmation from Dr. Ferryman, but she was positive in her first reply. :)

[2018-10-04 15:58] rchampieux commented on #2
OMG!  I'm over the moon.  This is so so exciting.

[2018-10-04 16:00] rchampieux commented on #2
P.S. I am literally over the earth this moment (DC to Seattle flight), so there's also that 🎆 😀 ❤️

[2018-10-04 16:04] ashleyfarley commented on #2
That’s fabulous!! Great work

On Thu, Oct 4, 2018 at 9:01 AM Robin Champieux <notifications@github.com>
wrote:

[2018-10-04 16:08] dasaderi commented on #1
I emailed PDX Mozilla offices to ask for spaces and sponsorship for Meet and Greet on Friday. I'll let you know the answer as soon as they get back to me.

[2018-10-04 20:40] dasaderi commented on #2
Dr. Kadija Ferryman has also confirmed! @lwinfree and @Bubblbu, now we can add that to the website. Let me know if you need help with content.

[2018-10-04 22:06] rchampieux commented on #1
@dasaderi you and I need to meet with Madison from OHSU about the CLSB space details.  Can you please ping me with potential opening in your schedule in the next couple of weeks.

[2018-10-05 01:03] Bubblbu commented on #9
added link to the Google form to the "important links" section of the organising document

[2018-10-05 15:27] dasaderi commented on #1
@rchampieux I will be in Montreal next week, but I can meet the week after. Please send me a calendar invite. We are meeting on the 15th for Mozfest prep, so maybe we can do this too the same day?

[2018-10-05 15:28] dasaderi commented on #1
Mozilla confirmed the space for the Meet & Greet on Friday February 1. Still waiting to hear about food&drinks sponsorship.

[2018-10-05 15:59] dasaderi commented on #9
@Bubblbu I added a few things directly to the form. But it still needs work. I'll find some time to work on it this weekend. @ashleyfarley and @rchampieux do you have time to help out with this?
Thank you all!

[2018-10-05 16:04] ashleyfarley commented on #9
I will have some time later today and can work on it!

On Fri, Oct 5, 2018 at 8:59 AM Daniela Saderi <notifications@github.com>
wrote:

[2018-10-05 17:22] rchampieux commented on #9
Yes, I can work on it a bit too.  Question - should we just edit in them form or do you want us to discuss suggestions first.

[2018-10-05 17:25] rchampieux commented on #9
Also - another questions.  Childcare questions are too understand potential need, correct?  Maybe we should state that we are still investigating, but are gauging interest?

[2018-10-05 21:08] ashleyfarley commented on #8
I believe that this component is complete. Please review, make any changes, or make comments. For a better formatted version please see the Google Doc.
_____________________________________________________________________________________
Code of Conduct
All attendees, speakers, and organizers at our OpenCon Cascadia are required to follow the following code of conduct. Organizers will enforce this

[2018-10-05 21:42] ashleyfarley commented on #9
I vote for just making changes unless it's something warranting discussion.
I've taken a stab at it and here are a few questions:

- Do we need to include the opening reception in the form?
-"What kind of mentorship would you prefer?" The answers to this seem to signify the desired structure of the conference. So I've created a question geared toward conference structure and reworded the responses

[2018-10-05 22:59] dasaderi commented on #9
@rchampieux, yes, I think it's good to frame it that way.
@ashleyfarley I'm not sure I understand your question fully. What do you mean by "opening reception"?

Thanks for editing the mentorship portion. I have not yet looked at that. Perhaps worth getting the "mentorship" team on a call to make sure we think this through together?

I'm not sure about registration approval. On one hand that would

[2018-10-05 23:06] Bubblbu commented on #8
CoC has now been added to the website: https://opencon-cascadia.github.io/coc

[2018-10-05 23:16] #8 closed

[2018-10-05 23:16] dasaderi commented on #8
Great job, everyone!

[2018-10-05 23:18] dasaderi commented on #2
Now that we have the keynotes (yay!), we need to start thinking about other speakers and activities.
Ideas? Bring them to the next call! :)

Re [issue 4](https://github.com/OpenCon-Cascadia/planning_in_the_open/issues/4).

[2018-10-05 23:22] ashleyfarley commented on #9
Apologies - I meant the Friday meet and greet.

Do we have a start and end time for each day? This should probably be
advertised on registration.

Agreed we should discuss the mentorship portion a bit more.

That approach works for me. At 75+ we would somehow need to make it clear
that filling out the registration form does not guarantee a spot. And there
might be a need for a waitlist at some poi

[2018-10-06 22:13] dasaderi commented on #9
Good point, Ashley. We don't have a time yet. But I told Mozilla that we'd like the office starting at 5pm. So maybe the Meet & Greet can be 6-8pm?

[2018-10-08 18:17] ashleyfarley commented on #9
I think that makes sense. What about times for Day 1 and Day 2? Thanks!

[2018-10-08 21:00] ashleyfarley commented on #11
Ok. I am coming to the conclusion that I am not the best person to work on a logo. I used the free version of Canva, but it's pretty limited. The size should fit the square of the hex sticker dimensions so the rest would be background color and a border. The letter is a little hard to read so need to fix that...

Does anyone else want to take a crack at a logo/sticker? Does this spark any ideas? T

[2018-10-09 19:10] dconner3 commented on #11
I am going to ask a colleague if she has time to take a crack. What are the dimensions of a typical hex sticker?

[2018-10-09 19:14] ashleyfarley commented on #11
Awesome! It is 5.08 cm (2") by 4.39 cm (1.73") here is the link for more details http://hexb.in/sticker.html

[2018-10-09 22:02] dconner3 commented on #11
I explained the mission statement and vision for OpenCon Cascadia and my colleague has two ideas, but she will need at least a week to put one together. Are able to wait?

[2018-10-09 22:16] ashleyfarley commented on #11
I would say of course! That's very kind of her and will totally get credit.

On Tue, Oct 9, 2018 at 3:03 PM David Isaak <notifications@github.com> wrote:

[2018-10-10 20:26] pamelapierce commented on #5
Do we want to have a short call at some point to discuss our reaching out to young professionals plan in more details?

[2018-10-11 22:11] dconner3 commented on #11
These are "very rough" drafts from Amy Stewart, Reed College Library's Digital Resources Specialist. She wanted to get feedback from the group. She said to ignore "the ugly text (the app I was using doesn’t have a text feature). I would clean it all up in photoshop so any wobbly lines you see would become crisp and geometric."

![hex_stewart01](https://user-images.githubusercontent.com/17661501/46

[2018-10-12 15:20] ashleyfarley commented on #11
Awesome! I really like the second one.

On Thu, Oct 11, 2018 at 3:12 PM David Isaak <notifications@github.com>
wrote:

[2018-10-12 17:23] lwinfree commented on #11
I like the second one too!! Please tell Amy thanks!

[2018-10-12 17:30] JEmery972 commented on #11
+1 on the second design

On Oct 12, 2018, at 10:23, Lilly Winfree <notifications@github.com> wrote:

I like the second one too!! Please tell Amy thanks!

—
You are receiving this because you are subscribed to this thread.
Reply to this email directly, view it on GitHub
<https://github.com/OpenCon-Cascadia/planning_in_the_open/issues/11#issuecomment-429399433>,
or mute the thread
<https://github.co

[2018-10-12 17:45] rchampieux commented on #11
These are awesome!  Please thank her.  I prefer the second one too!

[2018-10-12 18:03] dconner3 commented on #11
Sounds like there is a growing consensus around option 2. Is there any feedback or suggested changes I should give to the artist?

[2018-10-12 18:33] ashleyfarley commented on #11
@dasaderi Do you have a preferred printer for the stickers? If so it might be good to check what the cost/limit is for colors. We might been to simplify the number of colors in the logo - otherwise I do not have any other feedback.

[2018-10-13 02:04] dasaderi commented on #11
@dconner3 Thank you so much to you and your friend. I also like the second one, but with a different font for the OpenCon Cascadia, which is what she is suggesting anyway. THANKS again for the work!

As far as places to get the stickers, I used Treehouse stickers before, which is a local sticker company and was happy one time and unhappy the second time. So I might contact them again and ask for a

[2018-10-13 02:07] dasaderi commented on #5
Hi. Sorry, I was gone for a conference. I can get on a call next week to finalized questions for registration form. I'll include a link to a doodle in an email I'm prepping for the group. :)

[2018-10-19 20:01] dconner3 commented on #11
Here is a cleaned up version of #2 with a nicer font. What do people think? I like it!

[logo](https://user-images.githubusercontent.com/17661501/47241017-09a6fe80-d39f-11e8-9a12-476b44e4e646.png)

[2018-10-20 00:09] ashleyfarley commented on #11
I love it! My only comment would be, if possible, to move the OA logo in the middle up a little bit or fill in the rest of the middle with green (no grey). It looks a little unbalanced (or that's just me).

I've also started a section in the Appendix of our Google Doc to map out a Communications Plan with suggested content to help everyone strategically and easily share the announcement. Please fe

[2018-10-20 00:12] ashleyfarley commented on #9
The mentorship group had a call today and finalized our goal for the form. For ease of use we just have a question in the beginning and removed the mentorship section. I think overall it's looking very complete. Let me know if I can help with any outstanding pieces.

[2018-10-20 17:44] rchampieux commented on #11
I love it too!  I see what you're saying @ashleyfarley and agree.  Thanks for creating the appendix also.

[2018-10-20 17:46] rchampieux commented on #6
@lwinfree and I are meeting on 10/22 to kick off the fundraising campaign.

[2018-10-20 17:57] dasaderi commented on #9
Thank you so much for the update @ashleyfarley. I think the registration from is almost ready. I was going to add text around the fact that only the first 75 registered will get a secured spot, but didn't know how to phrase that. Also, since we say that the organizing committee will have access to their private information, I think it's fair to list the committee members. We can link to the page o

[2018-10-21 18:40] dasaderi commented on #9
The Wikipedia image of mt hood with reflection is free to use and beautiful (also looks like our logo). So I added it to the header of the registration form. @lwinfree and @Bubblbu maybe it can be also the background of the website? I saved the image in our shared website text folder. :)

https://en.wikipedia.org/wiki/Mount_Hood

[2018-10-22 15:14] ashleyfarley commented on #9
Maybe the language should be something like "[...]For this reason, submission of the registration form is not a confirmation for attendance" And then we send a confirmation email to each person? I just wonder if we need to do any sort of vetting - with having the registration form widely shared online and it's free. Although I've never organized such an event so maybe it isn't an issue?

I think p

[2018-10-22 17:42] dasaderi commented on #9
Thank you @ashleyfarley for writing the language for the registration form. I'll add it in later (or feel free to do it yourself if you have time). I don't know about the vetting part. @rchampieux ideas?

I think a pic and short bio would be nice, but it might take some time to collect that info. I'm okay either way. When are we shooting to have this done?

[2018-10-22 18:19] ashleyfarley commented on #9
For timeline I think we should aim to finalize before the end of OpenCon -
November 4th - so that we can advertise then. The OpenCon community will be
really engaged then. But I'm also happy to take the time needed to get it
right.

On Mon, Oct 22, 2018 at 10:44 AM Daniela Saderi <notifications@github.com>
wrote:

[2018-10-23 15:34] dconner3 commented on #11
Ok, here is a new version with the Open Access logo moved up a bit based on feedback from @ashleyfarley.

![logo_v2](https://user-images.githubusercontent.com/17661501/47372385-7facad80-d69e-11e8-8f95-0a274eeaca16.png)

[2018-10-25 00:07] rchampieux commented on #6
@dasaderi Lilly and I are working on the budget and fundraising - has Mozilla confirmed about sponsoring Friday night drinks and food?

[2018-10-25 00:19] lwinfree opened #12 "charge for tickets - need input"
During fundraising meeting, we discussed the idea of charging $10 for tickets. This would serve to:
1) raise $ (for lunch, for example)
2) help with attenuation rates (free events frequently have large #s of people that sign up but don't show up)

Also, $10 should be low enough that most people can afford a ticket. We would also offer free tickets for those that cannot afford $10 (we don't want to

[2018-10-25 00:34] JEmery972 commented on #6
I think the $1,500 per institution ask is reasonable. I initially asked for PSU to sponsor at $1,000 but think $1,500 is not unreasonable. If we get language in place for the ask I can make it next week at our leadership meeting.

[2018-10-25 00:38] rchampieux commented on #6
Thanks @JEmery972 - what day is your leadership meeting?

[2018-10-25 00:41] JEmery972 commented on #6
Next Tuesday afternoon starting at 2 PM

As for talking points that will resonate:

collaborative effort  with the research community at large

inclusive nature of the event

framework for developing of open practices

[2018-10-25 00:45] rchampieux commented on #11
@ashleyfarley @dconner3 I have some access to some grant funds and can get at least a substantial batch of stickers printed asap.

[2018-10-25 00:55] rchampieux commented on #9
Hi @ashleyfarley @dasaderi and @Bubblbu Lilly and I are taking another pass through the reg form.  Some major and minor comments:

1).  By this Friday, we should have a save the date read and tweeted out.
2). Agree with @ashleyfarley that Nov. 4 is a good deadline for opening registration.
3).  We'd like to take a stab at making the introductory text in the registration form a bit more concise.  I

[2018-10-25 22:19] ashleyfarley commented on #12
I'm not a huge fan of charging a fee, even if nominal - but if it helps serve our mission then I can live with it. :)

How would this be managed? Paypal?

I would love to learn more from @dasaderi @daniellecrobinson @rchampieux about the PDX Science Hack day last year? Could that model work for OpenCon? For lunch everyone was responsible for their own food (which I usually prefer as an attendee be

[2018-10-26 16:37] lwinfree commented on #12
Hi! Thanks for your thoughts! Here is a brain dump, and I'd love to chat about this more in the call this afternoon 😄

I was also on the science hack day planning team, so I can speak a little about that. It was a free event, and we did have a large retention issue where people signed up to come but never showed. For SHD and another conf I helped with (Cascadia R Conf), we had open lunch (where we

[2018-10-26 16:49] rchampieux commented on #12
Hi @lwinfree and @ashleyfarley thanks for starting a convo about this.  I agree that we should do t-shirts, thanks for the reminder about that @ashleyfarley.  Now that we have an awesome logo, they'll be easy to design.

Regarding charging - what if we went with a middle ground approach and set the registration up lean-pub style: "choose what you pay" (with the suggestions at $0, $5, and $10 dolla

[2018-10-26 20:31] ashleyfarley commented on #12
@lwinfree Thanks so much for the additional context. I appreciate the brain dump. This is really good experience to build off of. Eventbrite would be great and I agree not a lot more complicated.

@rchampieux ohhhh that's a really cool idea.

Looking forward to chatting later today. It seems like this is an area where it's difficult pleasing everyone (re: registration & lunch)

[2018-10-26 20:40] rchampieux commented on #12
@ashleyfarley and @lwinfree re lunch - we could also think about asking people to opt in for a conference provided lunch and we can describe close by options for those that prefer to be on their own.  I totally understand this desire - I often use lunch times to be alone 😄

[2018-10-26 23:14] dconner3 commented on #6
I'm not sure what my institutions response will be, but I am comfortable asking if they will support at the $1,500 level. I will wait to see how the call went today to see if anything changed before approaching my decision makers next week.

[2018-10-27 01:45] ashleyfarley commented on #11
Since I think we are pushing back on making registration live, while we work out the details we can have Nov 2nd - Nov 4th as the go live date for the website/save the date. By then we should have the website updated enough to provide most details (and certainly let me know how I can help).

[2018-10-30 14:46] dasaderi commented on #11
@rchampieux @lwinfree I can expense the stickers on Mozilla budget. Do you want me to do this? How many do we want to order? 200?

[2018-10-30 14:56] dasaderi commented on #12
So was a decision made on this? We need to update that info to the registration form and website before we start disseminating. I'm okay with @rchampieux idea of the "choose what you pay" style.

[2018-10-30 15:04] lwinfree commented on #12
Yes we are going with the "choose what you pay" style. I've updated the website, but we still need to update the registration form. Actually, we will need to use like eventbrite now since people will be buying tickets, but we can transfer the info over :)

[2018-10-30 15:04] #12 closed, assigned to ashleyfarley

[2018-10-30 15:36] dasaderi commented on #1
I just emailed Mozilla requesting funds for Meet and Greet happy hour and for stickers. I'll keep you posted.

[2018-10-30 15:37] dasaderi commented on #11
Just emailed mozilla to ask for funds for stickers. I'll keep you posted.

[2018-10-30 15:49] lwinfree commented on #11
awesome! Yes I would get 200, although you might have to order more than that. I've used sticker robot before & liked them (although they take a while - at least a month)

[2018-10-30 18:08] rchampieux commented on #11
Yes, thanks @dasaderi!

[2018-10-30 20:43] rchampieux opened #13 "Save the Date"
I have drafted email text for the save the date and will add some twitter boilerplate later today.  Please feel free to iterate on any of the drafts.  You can find the drafts and outreach table in here:

https://docs.google.com/document/d/1b4m0oJnQl7vZy-19xnUOoVh2YixGziS5gwefe5oh2DI/edit?usp=sharing.

Please start your outreach/

P.S.  I copied over the communication plan table @ashleyfarley creat

[2018-11-12 21:20] LuciMoore commented on #2
I found some potential speakers. A lot of these people are not directly involved in the open community, but they do work that aims to give more people access to resources and research, so I thought they could be interesting to throw into the mix:

(1) someone from [Coalition for Communities of Color](http://www.coalitioncommunitiescolor.org/ccc-dataresearch/)
-maybe one of the project leads on the

[2018-12-07 03:13] dasaderi commented on #6
I'm happy to announce that I will have the funds for the Meet and Greet and the stickers from Mozilla. YAY!

[2018-12-07 03:36] ashleyfarley commented on #6
Yay!!! You are a rockstar. Thanks so much!

On Thu, Dec 6, 2018 at 7:13 PM Daniela Saderi <notifications@github.com>
wrote:

[2018-12-14 23:41] ashleyfarley commented on #13
Marking this as done!

[2018-12-14 23:41] #13 closed, assigned to nobody

[2018-12-14 23:42] ashleyfarley commented on #9
Registration is now live! Marking this as closed.

[2018-12-14 23:42] #9 closed

[2018-12-14 23:43] ashleyfarley commented on #7
This has been added to the website. Marking as closed

[2018-12-14 23:43] #7 closed

[2018-12-14 23:43] ashleyfarley commented on #1
Marking as closed

[2018-12-14 23:43] #1 closed

[2018-12-15 00:01] ashleyfarley commented on #11
A friendly reminders to add to the Outreach List https://docs.google.com/spreadsheets/d/1n1IIeCRD1QqYGLAFingnqjh3hrUEkF-pRqgcEyOhBTw/edit#gid=0 Templated language for communications are located in the Google Drive https://drive.google.com/drive/folders/1KGNKyKUsgL4hSE1Ih4NRybC96j-oekSS

[2018-12-15 00:01] #11 closed

[2018-12-15 00:05] dasaderi commented on #4
I changed the title of this issue to reflect the schedule name.

From the notes of the last call, here are some suggestions for unconferences/do-a-thons/workshops. Please add and vote!
Start time 3:45-4:45pm, Saturday Feb 2.

- Frictionless data (Lilly; works well as a workshop/hands-on session)
- Advocacy unconference (discussion based on book Blueprint for revolution)
- Funding work at the inter

[2018-12-15 00:14] dasaderi opened #14 "Open Scholarship panel"
**Open Scholarship Panel (10:30-10:45am)**

Panel introducing what open scholarship means to different communities (5 minutes)
then 5 panelists speaking about: Software, OA publishing space, open educational resources, research, social justice domain → OS as umbrella term + specific talks
5-7 minutes each
15-20 questions and discussion
We need a Moderator - someone who can frame the panel and help

[2018-12-15 00:22] dasaderi opened #15 "DEI panel"
**DI Panel**
5 speakers. 5-7 minutes each
15-20 questions and discussion
Potential topics:
- Equitable opportunities
- Diversity and inclusion in open education
- Diversity and inclusion in  admissions
- Personal experience?

Potential speakers suggestion:
- Letisha Wyatt - OHSU
- Maybe someone from the [Coalition for Communities of Color](http://www.coalitioncommunitiescolor.org/ccc-dataresearch/

[2018-12-15 00:30] dasaderi opened #16 "Catering"
Friday is taken care of. Daniela is coordinating with Mozilla.

Saturday we need:
- Breakfast (if budget allows). I can get 150 donuts from Coco donuts for ~120.
- Coffee for morning and mid afternoon break + pastries?
- Lunch - we need data on attendees to ensure we cover dietary restrictions

[2018-12-16 16:39] dasaderi commented on #15
@LuciMoore I finally had the time to look up your suggestions, and they are great. I'd say Dr. Deborah Kelley could be also a great candidate for the OS panel.

[2018-12-17 07:04] LuciMoore commented on #15
I started a draft e-mail for inviting people to speak on the panel: https://docs.google.com/document/d/1SNMKHOWxlQ_wo1t59cr1GbOfhGVCeuSQ5HPDxJZrLyM/edit

[2018-12-17 15:30] dasaderi commented on #15
Nice, thank you Luci! I think we could send the invitation to Letisha anytime this week. I'd love to get someone from the CCC.
@walecain, thoughts?
@theresacheng, would you like to help with putting together this panel?

[2018-12-17 19:16] ashleyfarley commented on #14
I think Jeff Spies could be a great moderator or maybe talk about Open infrastructure. I believe he is attending, but I can double check if it sounds good to the group.

[2018-12-17 23:05] dconner3 commented on #14
@ashleyfarley That is a great idea. Yes, please check if he is already planning on attending.

[2018-12-17 23:24] ashleyfarley opened #17 "Communications/Marketing"
I was wondering if it would be worthwhile to be listed as an OpenCon Satellite Event? Or has this discussion happened already? https://www.opencon2018.org/satellite-2015-old

[2018-12-17 23:51] dconner3 commented on #14
I've created a google doc where we can discuss potential speakers and narrow it down to a final list. I will send it shortly.

[2018-12-18 05:08] dasaderi commented on #17
Good point @ashleyfarley, we never filled in the form. I'll email Joe and ask.

[2018-12-18 06:19] theresacheng commented on #15
Oh great! I made some edits on the email template, and I'll set aside some time to look through the panelists/research other potential speakers.

[2018-12-18 06:21] theresacheng commented on #15
Sanjay Srivastava at UO (https://pages.uoregon.edu/sanjay/ but really all the action is at https://twitter.com/hardsci) has been involved in DI work within SIPS I think (https://improvingpsych.org/)

[2018-12-18 08:01] LuciMoore commented on #15
Thank you for helping out, @theresacheng ! I'm wrapping up my PhD within the next couple of weeks so I'm nervous about how much time I can spend on OpenCon planning at the moment 😅. I added our list of speakers after the DI invitation boilerplate so that the info is all in one place. I can contact Letisha Wyatt at OHSU this week if everyone is cool with that. https://docs.google.com/document/d/1SN

[2018-12-18 15:37] dasaderi commented on #17
I created two flyers to advertise OpenCon Cascadia using the templates that OpenCon made available. More resources here https://www.opencon2018.org/satellite_resources.
The editable flyers are in the communication folder in our drive. Here are the png:

![opencon cascadia posters](https://user-images.githubusercontent.com/13750121/50164508-c5998280-0297-11e9-9e5e-3c6254e938ab.png)

[2018-12-18 15:50] ashleyfarley commented on #17
Fantastic poster! Thanks so much for creating it.

On Tue, Dec 18, 2018 at 7:38 AM Daniela Saderi <notifications@github.com>
wrote:

[2018-12-19 16:00] dasaderi commented on #15
@LuciMoore, thanks so much. Yes, please do email Letisha anytime this week.

@theresacheng let's give people a chance to vote today. Otherwise, I'd say go ahead and email Sanjay.

I would like to invite Dr. Esther Choo and someone from CCC. I don't know anyone there though. Any suggestions? Just by taking a quick look at the website, I'd say Dr. Shweta Moorthy. Ideas? @walecain @daniellecrobinson?

[2018-12-19 16:06] dasaderi commented on #17
Joe said to fill [this](http://righttoresearch.nationbuilder.com/users/event_pages/new?parent_id=70) and we will be added to the list. I tried three times, but it keeps spinning and doesn't save. Anyone else want to try? For the text, I copied and pasted the text from the [eventbrite](https://www.eventbrite.com/e/opencon-cascadia-tickets-52732189398).

[2018-12-19 16:12] ashleyfarley commented on #17
I can give it a try!

On Wed, Dec 19, 2018 at 8:07 AM Daniela Saderi <notifications@github.com>
wrote:

[2018-12-19 16:25] ashleyfarley commented on #4
The OpenCon Cascadia email box received this message:
"While I received an invitation to register for the conference, I haven't seen a call for program proposals.  If that hasn't happened yet, could you please forward along instructions for submitting program ideas for consideration?many thanks,~ DC"
--
I honestly hadn't thought about proposals. How should I respond? Thanks!

[2018-12-19 16:30] ashleyfarley commented on #17
It's been submitted. The form was very fussy.

[2018-12-19 16:58] lwinfree commented on #4
thanks @ashleyfarley! Would you respond & say that we aren't doing a broad call for proposals because we have very targeted keynotes and panels...? Although this person (whose name I edited out of your comment for privacy :-) ) might be good to contact for a panel

[2018-12-19 17:15] dconner3 commented on #4
@ashleyfarley, this person is one of our sponsors and mentioned that they wanted to speak. So when you write back, you could mention the Friday night speaking spots as an opportunity for them to talk about their project. You can follow up with me over email if you have questions about this.

[2018-12-19 17:26] ashleyfarley commented on #4
Great! Thank you very much for the additional context. @lwinfree thank you for the privacy check - I will be more aware in the future.

[2018-12-19 20:14] LuciMoore commented on #15
I just e-mailed Letisha. I can e-mail Dr. Shweta Moorthy from the Coalition of Communities of Color today as well if people agree. She seems like a good choice since it looks like she is in charge of their research department.

[2018-12-20 15:34] dasaderi commented on #15
Luci, if you can email her, I'd say do it. I'll email Dr. Esther Choo today.

[2018-12-20 16:41] dasaderi commented on #15
Just emailed Dr. Choo. My email is in the template Luci made. Finger crossed!

[2018-12-26 17:01] dasaderi commented on #14
@dconner3, who has been contacted already? Could you please add it to this thread so we can all see it? Thank you. Hope you had a great holiday.

[2018-12-26 19:20] dconner3 commented on #14
Sorry, I updated the google doc, but not this ticket. I emailed Crystallee Crain, but have not heard back yet. Robin and I are having a call today to talk through next steps for the rest of the panel.

[2018-12-26 21:07] LuciMoore commented on #15
update: Dr. Shweta Moorthy from the Coalition of Communities of Color said she'll be out of the country and can't do it. too bad

[2018-12-26 22:27] rchampieux commented on #14
David Isaak and I met today to finalize a description for the Open Scholarship panel and identify/send the rest of our speaker invites.

Panel Description (feel free to comment in doc):

The concept of open scholarship can differ between communities of practice. This panel will explore the variations and intersection of ‘openness’ in the domains of science, education, social justice, and big data.

[2018-12-26 22:27] rchampieux commented on #14
Hey @ashleyfarley have you confirmed if Jeff Spies is attending?  If so, I agree, let's ask him to moderate.

[2018-12-26 22:46] rchampieux commented on #15
Thanks for the update @LuciMoore.  I reviewed the CCC website and it doesn't look like there is anyone else on staff who is research focused.

[2018-12-26 22:59] rchampieux commented on #15
@LuciMoore and @dasaderi per Luci's suggestion above re CCC, I found some more info on the Regional Equity Atlas.  The project lead Brody Abbott from Ecotrust.  Science we can't get Dr. Moorthy, I think Brody would be a nice alternative.  What do you think?  https://ecotrust.org/staff/brody-abbott/

[2018-12-27 00:42] rchampieux commented on #15
A few updates and requests for action and feedback 😊.

* Invites to Letisha Wyatt and Esther Choo have gone out (we are waiting on their confirmation).

* Dr. Shweta Moorthy will be out of the country, and can’t accept our invite.  As an alternative, I would like to suggest Brody Abbot from EcoTrust.  Brody is project lead for the Regional Equity Atlas (on which the CCC is a partner).

**Remaining

[2018-12-27 01:39] rchampieux commented on #14
David Edwards has confirmed.

[2018-12-27 17:55] dasaderi commented on #15
Thank you @rchampieux!

I still have not heard from Dr. Choo. I'd say that if she says no, we could ask Dr. Reddy next?

I'm totally down with inviting Brody Abbott and Dr. Gerardo Sandoval. I don't know either, but don't you think they also might overlap in what they would cover?

Inviting someone from  UW eScience Institute of Data Science for Social Good program sounds also good, but by looking

[2018-12-27 18:06] pamelapierce commented on #15
I agree that inviting Brody Abbott and Dr. Sandoval sounds good.

Another possibility for an invite from the UW eScience Institute of Data Science for Social Good is Magdalena Balazinska.

[2018-12-27 20:56] LuciMoore commented on #15
@rchampieux I think those are good suggestions for people to invite. sorry i've been non-responsive. i'm going to talk to my friend Tavita Garrett, a fellow grad student, today about helping to organize the DI panel since we are short on manpower at the moment

[2018-12-27 20:59] rchampieux commented on #15
Hi @LuciMoore no apologies necessary, I know you are focused on other things 🌟.  Tavita would be an awesome addition to the team (she's also be an awesome panelist, now that I think of it)

[2018-12-28 00:09] theresacheng commented on #15
Better late than never:

- I'm down to invite Abbott and Sandoval. Re: @dasaderi's comment about overlap-- I think they are different enough
- I agree that it might make sense to wait on sending out emails to others (Drs. Reddy, Srivastava, or Applewhite) pending declined invitations from Drs. Wyatt and Choo.
- For the fifth panelist I really like the idea of including a student (Tavita Garrett) o

[2018-12-28 20:13] pamelapierce commented on #15
After a closer look, I agree that Magdalena Balazinska isn't the best fit in terms of diversity and inclusion issues.

[2018-12-28 21:23] LuciMoore commented on #15
I don't think Tavita should be a panelist because she doesn't really work in diversity and inclusion. She does engage in important extracurricular work around DI issues, but, as a more junior grad student, her focus has necessarily been almost entirely on her research in neuroscience.

@theresacheng you might be right about Shelly Farnham, I was interested in this project she was a lead on (https:

[2018-12-28 22:20] theresacheng commented on #15
Oh yikes @LuciMoore i missed the original link from Daniela! I think that it would be interesting to hear Shelly Farnham chat about how DI issues were baked into that project, and would be nice to have representation more outside of academia. Otherwise I do want to do one more pitch for Sanjay Srivastava; he's the diversity committee chair for the Society for Improvement of Psychological Sciences,

[2018-12-28 22:33] dasaderi commented on #15
Great! Let's discuss this all at today's call. @theresacheng would you be willing to email Sanjay Srivastava?

[2018-12-28 23:08] theresacheng commented on #15
yes, definitely! let me know if ya'll decide yes

[2018-12-28 23:18] LuciMoore commented on #15
@theresacheng I would def vote yes for Sanjay. there might be overlap with Letisha, but I don't think she does a lot of directly open science work at the moment

[2018-12-29 00:18] rchampieux commented on #15
Hi all - we made a few decisions on today's call 😸 We are going to ask Carol Muñoz Nieves to be the fifth panelist.  She is based in Vancouver and Asura is her colleague/friend, so he is going to reach out.  You can read more about Carol's work here:  https://www.scholcommlab.ca/people/carol-munoz-nieves/

I will send invites to Brody Abbot and Dr. Sandoval.  If Carol isn't able to come, we'd stil

[2018-12-29 01:36] rchampieux commented on #15
Just confirming here that invites to Dr. Sandoval and Mr.  Brody have been sent.  I copied Daniela and Luci.  I played with the template text a bit to include some high level info about the EDI panel (cribed from OpenCon 2018).  Example here:

Dear Mr. Abbott,

I am contacting you on behalf of the OpenCon Cascadia organizing committee to invite you to participate in a panel to share your work and

[2018-12-29 19:08] dasaderi commented on #15
Hi all! I just spoke to Tara Robertson over Slack. She is amazing and super enthusiastic about OCC. I think she would be a great person to add to this panel. She said she could talk about the work she is doing at Mozilla about trans inclusion policy. She could do that also in a lightening talk on Friday, if everyone we have already invited accepts.

Additionally, she mentioned she could run a do-a

[2018-12-29 19:16] dasaderi commented on #15
Oh, and maybe Tara could moderate the DEI panel if she is not in it.

[2018-12-29 19:31] ashleyfarley commented on #15
That’s awesome! She could moderate the panel and then give a lightning
talk!

On Sat, Dec 29, 2018 at 11:17 AM Daniela Saderi <notifications@github.com>
wrote:

[2018-12-29 19:35] JEmery972 commented on #15
Like the do-athon concept. We’re meeting this next week to discuss do-athon
ideas.

Jill

On Dec 29, 2018, at 11:31, Ashley Farley <notifications@github.com> wrote:

That’s awesome! She could moderate the panel and then give a lightning
talk!

On Sat, Dec 29, 2018 at 11:17 AM Daniela Saderi <notifications@github.com>
wrote:

https://github.com/OpenCon-Cascadia/planning_in_the_open/issues/15#issuec

[2018-12-30 02:23] Bubblbu commented on #15
I had the chance to talk with Carol and, good news, she'd love to join the panel. 🎉

The only challenge will be to submit the visa application asap (Carol currently in Cuba on holidays and will only be back at the beginning of next year) which means that we'll probably have to provide an invitation letter.

Is there anyone who has experience with the visa procedures in the US from an organizers po

[2018-12-30 03:01] dasaderi commented on #15
That's amazing news, @Bubblbu! I'll send an email to Joe and Nick right now and cc you and @rchampieux.

[2018-12-30 03:11] dasaderi commented on #15
Email to Joe and Nick about the visa sent.

[2018-12-30 03:21] dasaderi commented on #14
Just a though about this panel. I think we are missing someone who can speak about open software. If one of the invited panelists can't join, I'd consider a name from that sector. Maybe Joe Hand or someone new I don't know?

[2018-12-30 03:30] dasaderi commented on #2
I emailed Leslie and Kadija sharing the preliminary program and asking for their talks' title.

[2018-12-31 02:33] dasaderi commented on #2
I got back an email from Leslie with a short description of his talk. It made me think that perhaps we should modify the schedule for Saturday. I'll send an email to the group about it.

[2019-01-01 04:49] LuciMoore commented on #15
Letisha Wyatt confirmed!

[2019-01-02 17:02] dasaderi commented on #15
I sent another email to Dr. Choo asking to confirm by January 4th. If she does not confirm, would you be okay with me asking Tara Robertson to be on the panel?

[2019-01-02 17:14] rchampieux commented on #15
Yes, I think so!

[2019-01-02 18:09] rchampieux commented on #15
Just catching up on some of these great developments.  I'm very excited about Tara's involvement and Letisha's confirmation.  I am getting the letter ready for Carol now.

[2019-01-02 21:43] dasaderi commented on #15
I confirmed that if we don't have the funds already, I can use my budget to pay for flight for Carol. Do we need to book the flight in order for her visa to be confirmed?

[2019-01-03 18:23] dasaderi commented on #15
Dr. Choo is out of town that weekend. I'm going ahead and invite Tara Robertson to speak at the panel. Have we heard back from anyone else?

[2019-01-03 18:49] dasaderi commented on #15
Invitation to Tara sent. Email text available on the DEI panel gdoc in communication folder of OCC google drive.

[2019-01-04 22:52] rchampieux commented on #17
Hi!  Here is a new/alternative version for the flyer.  I can make changes and folks should feel free to adopt this for their own use.
[OCC-Flyer-New.pdf](https://github.com/OpenCon-Cascadia/planning_in_the_open/files/2728800/OCC-Flyer-New.pdf)

[2019-01-05 00:19] rchampieux commented on #15
Dr. Sandoval is travelling that week and cannot attend.  Should we move forward with inviting Shelly Farnham and/or Sanjay Srivastava?  I would be super excited about both nominees.

[2019-01-05 00:24] dasaderi commented on #15
Yes. Either is good. @theresacheng would you be willing to send out an invite soon to Sanjay Srivastava?

[2019-01-05 00:53] dconner3 commented on #14
Crystallee said yes!

[2019-01-05 00:53] rchampieux commented on #14
Yes!!!!!!!

[2019-01-05 01:08] theresacheng commented on #15
Sent!

[2019-01-05 01:13] dasaderi commented on #14
YES! I'll add her to the program. :)

[2019-01-05 01:14] rchampieux commented on #14
Hi @dasaderi because we had so many TBC see names in the program, I took that detail out for now.  I would suggest waiting until the end of next week to include individual names.  That way we won't be drawing attending to the holes :-)

[2019-01-05 18:15] rchampieux commented on #14
Douglas Tsoi from Portland Underground Graduate School (PUGS) has confirmed.

[2019-01-05 19:32] dasaderi commented on #15
Luci will moderate the panel. Thank you @LuciMoore! <3

[2019-01-05 19:51] dasaderi commented on #17
150 stickers ordered!

[2019-01-07 20:50] theresacheng commented on #15
Sanjay is confirmed! @dasaderi @rchampieux

[2019-01-07 21:00] dasaderi commented on #15
Wonderful, thank you Theresa! @rchampieux have you heard from Brody Abott?

[2019-01-07 21:22] rchampieux commented on #15
Nope, but the requested deadline for a response is today.  Thus far, we have Letisha, Tara, Sanjay, and Carol confirmed, correct?

[2019-01-07 21:23] dasaderi commented on #15
Tara is not 100% as she needs to get permission from her boss. I should hear from her between today and tomorrow. Everyone else is confirmed.

[2019-01-07 21:25] dasaderi commented on #14
Nate asked Hannah Stepanek (core developer at Hypothesis) to speak at this panel. If both Jen and Kaela want to be on the panel, perhaps we can have one of them give a lightening talk instead?

[2019-01-07 22:41] rchampieux commented on #14
We asked Jen and Kaela to present together.  It will be great to have Hannah too.  Do we know if she is confirmed?

[2019-01-07 22:49] dasaderi commented on #14
Nate confirmed it in the agenda. But I'll email him now. I can't @ him here as he has not yet accepted the invitation to collaborate here I think.

[2019-01-08 00:03] xolotl commented on #14
Yes, Hannah Stepanek, Developer at Hypothesis has confirmed she can/will join the panel (she should be registered for the event already. I can add her info (or get her to) if I can find the right place.

[2019-01-08 00:12] rchampieux commented on #15
Hi - Brody won't be able to participate, he has a conflict.  If Tara confirms, we will have four amazing panelists, so let's not sweat it....unless Tara can't do it 😸

[2019-01-08 16:07] dasaderi commented on #15
The only issue is if Carol cannot make it. I'd be more comfortable with having 5 speakers so that if Carol cannot make it for visa issues, we have 4. I'd suggest we invite Dr. Shelly Farnham.

[2019-01-08 17:56] rchampieux commented on #15
That works for me.  Who wants to send the invite?

[2019-01-08 18:17] dasaderi commented on #15
I'll do it now.

[2019-01-08 18:39] dasaderi commented on #15
Invitation sent to [Dr. Shelly Farnham](http://thirdplacetechnologies.com/shelly-farnhams-biographical-statement/).

[2019-01-08 18:50] dasaderi commented on #16
Re to Meet&Greet, the schedule is confirmed. I'm coordinating with Mozilla office people about catering, room set up, and security. :)

[2019-01-08 22:21] dasaderi opened #18 "Meet & Greet - Mozilla Downtown offices"
I'm coordinating with Mozilla office on a plan and will update shortly.
In the meantime, I need help getting lightning talk speakers. In the program we planned for anywhere between 6-10 speakers.

Lightning talks so far:

- Stephanie Wright (Mozilla, Silver Sponsor)
- Dalia Corkrum (Whitman College) - bronze sponsor - wants to speak on Lever Press
- Ciera Martinez (UC Berkley, Mozilla fellow doing

[2019-01-08 22:26] dasaderi commented on #18
Regarding the CoC for the Meet & Greet, we will have to operate under Mozilla Community Guidelines. I'm asking, but I think we will need to update the website to reflect that for the Friday.

[2019-01-08 22:27] dasaderi commented on #15
Tara Robertson confirmed! YAY! :)

[2019-01-08 22:29] rchampieux commented on #15
Awesome!

[2019-01-08 22:35] pamelapierce commented on #18
@dasaderi I just want to make sure I'm clear. I saw the email that you assigned # 18 to me. Where is the list that tells me what number 18 is? I would rather ask than not do something.

[2019-01-08 22:38] pamelapierce commented on #18
Sorry. 18 is just the issue number.

[2019-01-08 22:39] dasaderi commented on #18
Oh, I'm sorry @PJP1313. I added you because you said you want to help with getting there early etc. So you can keep track of planning for that night. I hope that's okay. Feel free to remove yourself from this issue.

[2019-01-08 22:39] daniellecrobinson commented on #18
I'd love to help! If there's space, I would like to talk about collaboration and competition in open scholarship.

[2019-01-08 22:39] pamelapierce commented on #18
I will be there to help set up and do whatever is needed. I'm also excited to just go to the Mozilla Offices. I've never been to a big tech company's offices before. I definitely don't want to remove myself. I just wanted to make sure there wasn't anything else I needed to do.

[2019-01-08 22:40] pamelapierce commented on #18
It all makes more sense when I'm actually in the GitHub page. Via email all I see is "#18 assigned to Pam" The email doesn't say what the issue is.

[2019-01-08 22:48] ashleyfarley commented on #18
In regards to the Lightning talks - I am happy to help coordinate as well.
There have been a couple emails to us asking about the option. I am going
to request that they submit a short talk abstract to see if it fits with
our theme. It's a bit hard to tell without this.

On Tue, Jan 8, 2019 at 2:41 PM PJP1313 <notifications@github.com> wrote:

[2019-01-08 23:42] xolotl commented on #18
@dasaderi sorry, now I'm confused...when you say "@xolotl will reach out to participants that have signed up and ask to submit inquiries." do you mean I should email people that have registered and indicated they will come to the Fri event at Mozilla and ask if they want to do a lightning talk? If so, I'm not sure I have access to the list of registrants.

[2019-01-08 23:45] ashleyfarley commented on #18
@xolotl I'm happy to send the email from our OpenCon Cascadia email account. If you could draft the email that would be very helpful. @rchampieux can you email me a list of participants? Or credentials for Eventbright? Thanks!

[2019-01-08 23:47] xolotl commented on #18
Sorry to be dense, but just to be clear, this is the mail we talked about on the last call that would give all registrants a general update on the event as well as ask if they wish to lightning talk?

[2019-01-08 23:49] ashleyfarley commented on #18
No apology needed - I copied this from the organizing notes document so I don't forget anything.

"So excited that you registered! Did you see the schedule? Do you want to give a lighting talk Meet & Greet? Also, do you have a project for the do-a-thon? Include the official Twitter hashtag #OpenConCascadia19"

[2019-01-08 23:55] xolotl commented on #18
OK, I'll take a stab at an email draft after I close the parens on this day job thing I'm in the middle of.

[2019-01-09 20:53] dasaderi commented on #17
Stickers have arrived. You can tweet about it or RT my Tweet if you want to use it as an excuse to advertize https://twitter.com/Neurosarda/status/1083099851536031744.

:)

[2019-01-09 22:22] dasaderi commented on #2
@rchampieux do you have the form to send to Kadija and Leslie for their honoraria checks? I was going to email them together today or tomorrow about their talks and overall program, and I think it'd be good to send that form to them in the same email. Thanks.

[2019-01-09 22:54] rchampieux commented on #2
Just sent them 😸

[2019-01-12 03:56] dasaderi commented on #15
Shelly Farnham has not replied. Sending a reminder now.

[2019-01-14 16:41] dasaderi commented on #15
Still have not heard back from Shelly Farnham. Who should we email next?

[2019-01-15 05:03] rchampieux commented on #15
I'd really love to get a student that is working on DEI issues, especially at an undergrad level.  There was a student in the Built EXITO program that attended our mini WOW and several that presented posters at Research Week last year.  I know several folks involved with that and can see if there's a student they'd recommend....this program is at PSU.

[2019-01-15 20:40] LuciMoore commented on #15
Yes, please do, Robin! I can handle inviting the student once we decide who
-Luci

On Mon, Jan 14, 2019 at 9:03 PM Robin Champieux <notifications@github.com>
wrote:

[2019-01-15 22:13] rchampieux commented on #15
Great, I will send out requests for suggestions tonight.

[2019-01-15 22:47] dasaderi commented on #18
Here are some notes from the meeting with Katt Taylor, Mozilla office space manager.

- Room set up: ~30-40 total seats (including high chairs, couches, and wall bench) with space to mingle and walk around. We will have music (if we want) and AV access.

- Catering: Portland Pedal Power has several option. I made an account and we can choose from them. My favorite are Cafe Yum and Thai Peacock. PP

[2019-01-15 22:52] dasaderi commented on #16
Coffee: @lwinfree offered to take care of coffee for breakfast and morning break.

Donuts: Can anyone take care of ordering donuts? I can do it if Coco Donuts are okay (I live close by), but I know we have opinions about donuts :P.

Lunch: @lwinfree offered to take care of lunch using Elephants.
An alternative to Elephant would be using Portland Pedal Power (same catering company as on Friday for

[2019-01-15 22:59] dasaderi commented on #15
@LuciMoore could you please ask Letisha for a headshot and a short bio for the website? [Here](https://github.com/OpenCon-Cascadia/OpenCon-Cascadia.github.io/issues/45) is Tara's as example. You should be able to add it to the issue thread. If not, just forward me the response and I'll add it.
Thanks!

[2019-01-15 23:03] dasaderi commented on #14
@daniellecrobinson could you please ask Crystalee Crain for a headshot and a short bio for the website? [Here](https://github.com/OpenCon-Cascadia/OpenCon-Cascadia.github.io/issues/45) is Tara's as example.

@xolotl could you do the same for Hannah Stepanek?

@rchampieux will ask David Edward's, Douglas Tsoi's, and Jen Klaudinyi's.

Once you have them, please either add them directly to [this](htt

[2019-01-15 23:06] pamelapierce commented on #18
I think we should simplify our lives and not serve alcohol at the event. There is enough places in the surrounding area that people can get drinks together after if they want.

[2019-01-16 00:15] ashleyfarley commented on #18
I agree. It will be easier and cheaper. I’m also biased as I’m taking a
break from alcohol :)

On Tue, Jan 15, 2019 at 3:14 PM PJP1313 <notifications@github.com> wrote:

[2019-01-16 00:35] dasaderi commented on #18
Perfect! That makes things easier!

[2019-01-16 05:47] rchampieux opened #19 "Post Do-a-thon info to site (as new page)"
@Bubblbu and @lwinfree
- The text describing the OpenCon Cascadia do-a-thon text is ready to go.  You can find it at the bottom of [this doc](https://docs.google.com/document/d/1NeExpRFfk4iV8DhuNqOEW4trjfd4ENXtjYl0wqtT0kc/edit)

- The [proposal submission form](https://goo.gl/forms/bEDVkneOtGDvEgUD3) is also ready and linked to from the doc.

We need to publish the do-a-thon description to the web

[2019-01-16 05:58] rchampieux commented on #19
Once info is published to site:
- [ ] Draft do-a-thon focused social media and email promotion.
- [ ] Ask organizers to and friends to submit proposals, so we have things folks can engage with ahead of time.
- [ ] Figure out where we want to post projects.  Should we use github (it can be a huge barrier), Gdocs, the website, other?

[2019-01-16 07:17] LuciMoore commented on #15
@dasaderi yup!

[2019-01-16 07:41] LuciMoore commented on #15
@dasaderi

Letisha R. Wyatt, PhD is the Director of Diversity in Research in the OHSU Office of the Senior Vice President for Research and is responsible for developing and implementing
academic/professional programs for research trainees from underrepresented and underserved backgrounds. She is a former bench neuropharmacologist with a strong record of mentorship in the laboratory and classroom.

[2019-01-16 17:12] ashleyfarley commented on #18
I vote for Cafe Yum - I really love them - lots of options for all dietary needs.

[2019-01-16 17:13] rchampieux commented on #18
Haha....I have a Cafe Yum obsession.

[2019-01-16 18:00] dasaderi commented on #18
Yeah, I love Cafe Yum too! They are advising platters for a standing event, but we can do whatever we want. Cafe Yum can be an option for Saturday too. I'll keep you posted.

[2019-01-16 18:02] dasaderi commented on #19
Amazing work you all! Thank you!

[2019-01-16 21:41] LuciMoore commented on #18
If it's alright with everyone I'd like to invite this Build EXITO student to give a lightning talk. I don't remember his name at the moment, but he works in Dr. Damien Fair's lab and is super brilliant. He recently completed a project where he helped create this quality control system for an open source MRI imaging database. It identified data that was too low-quality for researchers to use and al

[2019-01-16 21:42] rchampieux commented on #18
Go for it!!!!

[2019-01-16 22:18] lwinfree commented on #19
Thanks Robin! I can work on this over the weekend

[2019-01-16 22:37] rchampieux commented on #19
Hi @lwinfree - I'm going to try to do this today, because we want to get some communication out before Friday.  Thanks for all your help.

[2019-01-16 22:52] LuciMoore commented on #18
great, he agreed to give a lightning talk! his name is Johnny Uriarte-Lopez‎

[2019-01-16 23:21] rchampieux commented on #19
HI @Bubblbu AND @lwinfree I got the page up so no need to worry about this.

[2019-01-16 23:21] #19 closed, assigned to Bubblbu, lwinfree

[2019-01-16 23:22] rchampieux opened #20 "Do-a-Thon"
Some more immediate to dos now that do-a-thon page is up.
- [ ] Draft do-a-thon focused social media and email promotion.
- [ ] Ask organizers to and friends to submit proposals, so we have things folks can engage with ahead of time.
- [ ] Figure out where we want to post projects.  Should we use github (it can be a huge barrier), Gdocs, the website, other?

[2019-01-17 01:55] lwinfree commented on #19
@rchampieux you are an amazing rockstar!!

[2019-01-18 00:04] dasaderi commented on #18
Here is the proposed Menu from Portland Pedal Power. They think that for the kind of event we are running, it's better to get something like this. It's from Whole Foods, which I don't love as I recently learned they use prison labor (like they have a factory inside a prison kinda labor!). But here it is. I can ask for a Cafe Yum estimate, even though I do think Cafe Yum is a great option for Satur

[2019-01-18 23:41] dasaderi opened #21 "Nametags & Co."
- [x] Nametags
- [ ] Pronouns stickers
- [x] Pens and sharpies
- [x] Different color stickers for mentors and mentees
- [x] Big sticky post-it for do-a-thons and conference +/- ?
- [x] Little pencils for M&G bingo (Pam said would procure from the library)
- [x] Print a few copies of our CoC
- [x] Stickers to indicate no picture.

[2019-01-19 00:25] dasaderi commented on #15
Hey all, please send an email to the people you invited to the panel asking them to register. Here's a template https://docs.google.com/document/d/1G2Kw_9edyH_2CSc6LzyOY-HcPpCJMNNWyPMWbDdA-to/edit?usp=sharing. Once you did, please add a thumb up to this comment. Thanks!

[2019-01-19 00:26] dasaderi commented on #14
Hey all, please send an email to the people you invited to the panel asking them to register. Here's a template https://docs.google.com/document/d/1G2Kw_9edyH_2CSc6LzyOY-HcPpCJMNNWyPMWbDdA-to/edit?usp=sharing. Once you did, please add a thumb up to this comment. Thanks!

[2019-01-19 01:40] dasaderi commented on #10
@rchampieux to follow up with a participant who asked for it and delete that option from registration.

[2019-01-19 02:39] dasaderi commented on #5
So I was thinking that since we asked at registration if participants want to be mentored or want to provide mentorship, perhaps we can print that info on name tags or prompt participants to write their position on the name tag and add a sticker about this mentorship thing.

[2019-01-19 06:30] rchampieux commented on #10
I deleted the option from the registration.  I'm working with @ashleyfarley on the communication.

[2019-01-19 06:39] rchampieux opened #22 "Confirm sponsor talks"
OHSU - @rchampieux confirming
PSU - Jill confirming
U of O - @walecain confirming

[2019-01-19 06:43] rchampieux commented on #5
And/Or this could be one thing we try to facilitate at lunch for those that are interested.  Additionally, there aren't that many people that want to be mentored - it might be nice if we sent a special welcome to these attendees and asked them what sort of mentorship their looking for and what they are most excited about the conference.

[2019-01-19 17:22] rchampieux commented on #2
@dasaderi do we have a description for Kadija's talk?  It's still TBA on the website.

[2019-01-19 18:08] dasaderi commented on #2
I asked her last week and pinged her yesterday again about it. We will get it soon.

[2019-01-22 22:55] xolotl commented on #14
@dasaderi My understanding is that Hannah already registered. Is there a way to check?

[2019-01-22 22:57] xolotl commented on #18
Are bingo cards still a need? I could help with that. Sorry, I'm having a hard time staying in the loop on what needs to be done.

[2019-01-22 22:58] ashleyfarley commented on #14
Yes - I can confirm that Hannah is registered. Thanks!

[2019-01-22 23:04] dasaderi commented on #18
Sorry about that, @xolotl. We are having another meeting this Friday. Have you not received the invite to last week's one? Sorry if you haven't. I thought I had added you.

@daniellecrobinson is doing the bingo cards. She posted on [Twitter](https://twitter.com/daniellecrobins/status/1086419926036885504) asking for additional things to add to the card. I don't think she needs additional help, but

[2019-01-22 23:08] xolotl commented on #18
@dasaderi sorry, I didn't get any calendar invites. My email is nate@xolotl.org. I'm open to helping more, I've just found it hard to figure out where.

[2019-01-22 23:08] dasaderi commented on #17
@rchampieux @PJP1313 can we list here what OHSU outreach we have already done in January? I'd like to hit again GSO, BEHN, NGP, but have no idea how to reach School of Public Health, nursing, or other OHSU relevant mail lists.

- [ ] GSO (Daniela)
- [x] BEHN (Daniela)
- [x] NGP (Daniela)
- [X] OHSU Library (Pam and Robin)
- [X] BioData Club and Data Jamboree (Robin)
- [x] School of Public Health (

[2019-01-22 23:14] dasaderi commented on #18
Sorry, it says you are in the list. I just deleted your name and re-added you. Did you receive a calendar invite every Friday until Feb 7?

[2019-01-22 23:19] xolotl commented on #18
@dasaderi ok, now I have an invite and have accepted. Are we lacking registrations, or near capacity?

[2019-01-22 23:20] ashleyfarley commented on #18
We have 50 open spots - so it would be great to amp up registrations

[2019-01-22 23:22] dasaderi commented on #16
Catering ToDos:

- [ ] Confirm order with Portland Power Pedal for Friday evening (Daniela)
- [ ] Confirm order of drinks with Katt (Mozilla) for Friday evening (Daniela)
- [X] Decide where to get lunch for Saturday. Daniela can ask a quote with PPP from Cafe Yum.
- [X] Confirm coffee pick up for breakfast and coffee breaks (Lilly)
- [X] Decide if we want donuts and assign someone to pick them up

[2019-01-22 23:23] dasaderi commented on #2
Kadija's talk summary is up. I'm closing this issue.

[2019-01-22 23:27] dasaderi commented on #20
@xolotl, above are some to-dos listed by @rchampieux. Maybe something you can help with here?

[2019-01-22 23:28] dasaderi commented on #22
Mozilla - Steph Wright

[2019-01-22 23:35] dasaderi opened #23 "OCC post conference survey"
It would be great to have a survey ready to ask participants to fill out immediately after the conference. Anyone wants to draft one in google forms? @xolotl?

[2019-01-22 23:50] rchampieux commented on #21
I don't think we should print programs.

[2019-01-23 00:10] rchampieux commented on #16
@lwinfree met about the Saturday catering today.  We nixed the PPP option, as their delivery scheduled seems limited to M-F and the Cafe Yum options were expensive.  Lilly is going to place order with Elephants, they had a good experience for Rconf and it's super convenient.

We are using the Starbucks in the CLSB for coffee and tea breaks.

We set aside $120 for donuts on Saturday AM.  Coco is fi

[2019-01-23 00:13] rchampieux commented on #18
We were aiming for 100 - 120, but I set-up Eventbrite for 150 just in case.  If we assume maybe 15% of folks won't show, I think getting 120 - 150 registered would be great.  Lilly and I build the food budget for aprox 100, but we set some reserve aside just in case.

[2019-01-23 00:14] rchampieux commented on #18
@xolotl have you had a chance to promote through your tech network and Calagator?  I think that would be helpful for outreach.

[2019-01-23 00:17] xolotl commented on #20
@rchampieux I started out by looking at the do-a-thon webpage and made a small suggested change to the page (2 links > 1 button) which @dasaderi merged.

I submitted a do-a-thon idea to try it out myself, so there should be a new one.

I would suggest either GitHub (as one might want the projects to live going forward on the website, which is in GitHub too), tho I agree it can be a barrier, or gdo

[2019-01-23 00:18] rchampieux commented on #17
Hi,

I sent an invite to all OHSU Library staff a couple weeks back, and either @PJP1313  or I can do another one this week.  I think our new Director, Kris Alpi is going to do a lightening talk on Friday, so I'm waiting to confirm that before we push out again.

I also confirmed with the OHSU Research News people that I can post something on their blog this week.

I will send another round of out

[2019-01-23 00:20] rchampieux commented on #17
Additionally - per last week's meeting we are supposed to be reaching out to Community Colleges.  Here is the list:

@rchampieux  - PCC
@walecain - Lane Community College
Jill Emery - Mt. Hood (I think)

[2019-01-23 00:20] xolotl commented on #18
@rchampieux so that means we have about 100 registered already?

A while back I saw that it was already listed on Calagator, so someone had already taken care of that. I promoted to PSU folks and the tech community. I will do some more but wanted to see how close/far away we were from our attendance goals/limits.

[2019-01-23 00:22] rchampieux commented on #18
Yup, that's right we are at 99 @xolotl .  Thanks for promoting to those communities!  Do you know anyone in the open hardware / maker communities?  I was thinking that would be other good target.

[2019-01-23 00:24] dasaderi commented on #16
Yes, can do Coco! I'll call in to order 120 donuts!

[2019-01-23 00:25] rchampieux commented on #16
Great @dasaderi!  Ideally, I'd like to put this on the Library's credit card so we don't have to worry about reimbursements.

[2019-01-23 00:26] dasaderi commented on #17
Sorry, reopened because I'm not done with these tasks. Thanks Robin for the clarification on OHSU outreach efforts. :)

[2019-01-23 00:28] dasaderi commented on #16
Okay, thanks! So, do you want to call Coco donuts on Milwaukie and pay on the phone? I can still make the reservation and certainly will do pick up. Let me know what's easiest for you.

[2019-01-23 00:35] xolotl commented on #23
@dasaderi I started [a draft post-event survey in a gdoc](https://docs.google.com/document/d/1g4YRcDp_4DNMR0oJipVSGY20M1h_dHs1PpoBewhNs_A/edit?usp=sharing) so we can edit freely and move to Google Forms when finalized.

[2019-01-23 00:38] xolotl commented on #18
I may be able to reach some makers. I'll work on that. My guess is that we'll get a few more registrations next week without doing more than continued promotion, so it seems like we will end up close to our goal.

[2019-01-23 00:59] xolotl commented on #20
@rchampieux @dasaderi et al: just to make sure, the do-a-thon is focusing on "activities that seek to make research and scholarship more open, inclusive, and accessible" as per the webpage? Just wanted to check as that seems like a subset of the overall event focus.

[2019-01-23 01:02] rchampieux commented on #20
That's good feedback @xolotl.  I used that phrase to try to capture everything, but i can see how that seems limited.  I need to pack up for home, but please feel free to suggest alternative language 😸

[2019-01-23 01:03] rchampieux commented on #16
Yes, that would be ideal.  Should I place the order then?  If so, what time do you want to pick up?

From: Daniela Saderi <notifications@github.com>
Reply-To: OpenCon-Cascadia/planning_in_the_open <reply@reply.github.com>
Date: Tuesday, January 22, 2019 at 4:28 PM
To: OpenCon-Cascadia/planning_in_the_open <planning_in_the_open@noreply.github.com>
Cc: Robin Champieux <champieu@ohsu.edu>, Assign <as

[2019-01-23 01:03] xolotl commented on #20
@rchampieux ok, I just wasn't sure if we were trying to focus the do-a-thon on "research and scholarship"...I'll propose wider language.

[2019-01-23 01:08] dasaderi commented on #16
Yes, please. Make the order @rchampieux. I'll pick up at 7:45am on Saturday Feb 2. You can leave my phone number as contact. Thanks!

[2019-01-23 01:11] dasaderi commented on #20
Nate, I just asked Lilly or Asura to add you as collaborator on website repo so you can make direct changes. Thanks! :)

[2019-01-24 00:07] LuciMoore commented on #15
hey, everyone. I drafted a blog for the DEI panel highlight and figured I would get feedback both for grammar/style as well as content as I don't consider myself an expert in this field. Feel free to make any changes or suggestions you want! I'll also see if my fellow Alliance for Visible Diversity in Science members have any comments. I'd like to get it on the website tomorrow:

https://docs.goog

[2019-01-24 01:36] theresacheng commented on #15
Hi @LuciMoore, I made edits to the blog -- see google doc comments- but I just wanted to say that I think starting a draft of this is the hardest part, so thank you!

[2019-01-24 02:04] dasaderi commented on #15
YESSS! Juell Towns confirmed! We have such amazing panelists!

[2019-01-24 02:04] LuciMoore commented on #15
thanks @theresacheng! haha yes it was a bit tough, which is why I figured I'd throw down a bunch of stuff and let others take a look. Thanks for cleaning it up so much! I think it's basically done, I just need to add something about another panelist who just agreed to join

[2019-01-24 02:19] LuciMoore commented on #15
okay @dasaderi I think it's ready to post

[2019-01-24 02:27] dasaderi commented on #15
Someone else is editing it now. I'll check back later.

[2019-01-24 02:56] rchampieux commented on #15
This is fantastic - thanks Luci! I have one small suggested change, which I’ll make tonight. On my phone right now.

Robin Champieux
Scholarly Communication Librarian
Assistant Professor
Oregon Health & Science University
champieu@ohsu.edu
503-494-2770

________________________________________
From: Daniela Saderi [notifications@github.com]
Sent: Wednesday, January 23, 2019 6:27 PM
To: OpenCon-Cas

[2019-01-24 04:59] rchampieux commented on #15
Thanks again ladies - I made some suggestions in the doc.  I'm getting so excited!

[2019-01-24 05:13] dasaderi commented on #15
It's out! Great job @LuciMoore!

[2019-01-24 06:25] rchampieux opened #24 "Data Viz of Attendee Demographics"
It might be nice to be able to show some info regarding attendee demographics, like geographically where people are coming from, roles, expertise, institutional affiliation, etc.  Is anyone interested in or up for experimenting with this?  @walecain and @Bubblbu I'm thinking of you 👋 🌈 💯

[2019-01-24 06:31] rchampieux commented on #15
Just FYI - I updated the post so the speaker names link out to their profiles.

[2019-01-24 06:35] rchampieux opened #25 "Final Communication with our Speakers"
Start listing things we should communicate/confirm before the 1st.  Brainstorming here:

- Should it be sent by panel moderators?
- Include reminder about time of panel, request for slides in advance (but not necessary), goals and maybe one high level question moderator hopes to ask, any name pronunciation questions, thank you, link to directions and parking info, reminder about hashtag.

[2019-01-24 06:37] rchampieux opened #26 "Final Communication with Our Attendees"
Start making list of things to communicate and remind:

- Code of Conduct
- Directions and parking
- How to get in touch with us, if they run into any issues
- Do-a-Thon

Please add to and refine.

[2019-01-24 20:20] Bubblbu commented on #24
Sure! Can you share the list of attendees (and maybe speakers) with me with the information?

We would probably need to compile the speaker information right?

I can look into creating a few plots and stats for blog posts, the web page, for slides, etc.

[2019-01-25 00:36] LuciMoore commented on #25
@rchampieux I think it should be sent by the moderators. Sanjay just DMed on Twitter to confirm these details

[2019-01-25 04:25] LuciMoore commented on #25
also, should we come up with a list of questions to ask in case the audience doesn't have questions? or maybe that won't be a problem

[2019-01-25 04:50] rchampieux commented on #25
Yes, I think so @LuciMoore.  For each panel, I think it would be good to have one question prepped for the moderator to kick the Q&A off and then at least 2 more in case things slown down.  We should also have some strategies in place to ensure that some folks don't accidentally or intentionally use their privilege to take up space/time.

[2019-01-25 04:58] rchampieux commented on #24
Just sent you an email follow up 😸

[2019-01-25 23:44] dasaderi commented on #26
@ashleyfarley will send an email on Monday. [Here](https://www.ohsu.edu/xd/about/visiting/directions/clsb-life-sciences.cfm) is info about OHSU and parking.  For Mozilla, no parking there. Take public transport or park on paying parking lots. Eventbrite will send reminder 48hrs before.

@rchampieux, question about space at OHSU. Is everything set up for that? We need to add room number to program

[2019-01-25 23:45] dasaderi commented on #20
@Bubblbu will link projects that have been submitted on the back end on GitHub and they will show up on website.

@xolotl will revise language on form and website to make it more general.

[2019-01-25 23:53] dasaderi commented on #25
- Daniela will send email to lightening talk speakers (stick to 3-5 minutes, no more than 3 slides; provide order)
- @LuciMoore will send email to DEI panelists (Confirm the time and location for their panel; format;
send over slides (5 top); if you want you can send them a question you plan to ask them.
- Nick (@rchampieux will ask him) will email OS panelists asking for similar things.

[2019-01-26 00:01] dasaderi commented on #18
@daniellecrobinson will email bingo cards to @walecain for printing.

@PJP1313 will bring little pencils from library.

Daniela will bring $50 Powell's gift card.

[2019-01-27 02:59] Bubblbu commented on #24
I added a folder to our Google Drive with the current state of registrations + a python notebook + a few initial plots

happy to make changes to layout/colourmap or create different graphs if needed :)

[2019-01-27 04:45] xolotl commented on #20
I created a [pull request](https://github.com/OpenCon-Cascadia/OpenCon-Cascadia.github.io/pull/54) with suggested changes to the language on the do-a-thon page so everyone could review/comment/suggest changes before we accept it.

I don't think I have rights to change the similar language on the form, so if someone could give nate@xolotl.org editing rights there, I could also make changes there ba

[2019-01-27 07:19] xolotl commented on #20
OK, @dasaderi merged the PR to the website and I copied the same language to the google form, so revising the language to make it more genreal is done unless someone wants to make changes.

[2019-01-27 21:23] rchampieux commented on #26
Yes, everything is set up for space at OHSU.  We have both learning studios - they have a capacity of 180 each.  The divider will be up, so we can use both for do-a-thons.  We don't have small rooms.

[2019-01-27 21:30] rchampieux commented on #26
I will confirm the room number tomorrow - I have an email out to our contact in OHSU facilities.  Unfortunately, I can't access the info off our network.

[2019-01-27 23:20] xolotl commented on #26
@rchampieux: As you are checking on the rooms...

Are the rooms set up with round tables or is it theater style or other? I'm assuming we can have each do-a-thon activity take over a portion of each room, but some layouts may be better than others.

Also, wondering what tools will be available for each do-a-thon activity. Assuming wifi and power, but would any group also be able to project? Or may

[2019-01-28 03:25] rchampieux commented on #26
Tables (square, not round ), which can be moved around. Wifi and power, yes.  The only projector is at the podium, but there are 6 screens in the room and we can select to project to a single screen.  I am buying paper sticky charts and markers (among other things)  I agree about communicating with folks about this.  I can do this, but probably not until Tuesday.  If there's anything you want me t

[2019-01-28 03:30] rchampieux commented on #26
When I'm back in the office on Tuesday, I can take a pick...so you all have a sense of it.  I've caught an awful cold and I'm trying to take tomorrow off to get better, but I will be checking in.

[2019-01-28 04:00] LuciMoore commented on #15
will there be microphones available for the portion of the panel where they take questions from the audience?

[2019-01-28 04:45] LuciMoore commented on #15
here's the e-mail I will send to the DEI panelists tomorrow if anyone wants to spruce it up:

https://docs.google.com/document/d/17QJfKJPWunJHkdqvu8IsQLlxOs0P_1Tr0FC5pIpzSlw/edit#

[2019-01-28 05:04] rchampieux commented on #15
Yup @LuciMoore  there will be mic at the panel table and one at the podium.

[2019-01-28 05:05] LuciMoore commented on #15
@rchampieux what about a mic for the audience members for when they ask questions?

[2019-01-28 05:05] rchampieux commented on #15
Ah, good point.  I can order that too!

From: Lucille Moore <notifications@github.com>
Reply-To: OpenCon-Cascadia/planning_in_the_open <reply@reply.github.com>
Date: Sunday, January 27, 2019 at 9:05 PM
To: OpenCon-Cascadia/planning_in_the_open <planning_in_the_open@noreply.github.com>
Cc: Robin Champieux <champieu@ohsu.edu>, Mention <mention@noreply.github.com>
Subject: Re: [OpenCon-Cascadia/plann

[2019-01-28 06:21] dasaderi commented on #15
@LuciMoore for privacy, I deleted the email addresses from the email template doc because you posted the link publicly here. I have that list if you need it.

[2019-01-28 06:23] dasaderi commented on #25
Emails to all lightening talk speakers sent.
@rchampieux are you reaching out to Nick asking him to email the panelists?

[2019-01-28 06:40] rchampieux commented on #25
Yes, I'll do this tomorrow.

[2019-01-28 07:26] LuciMoore commented on #15
oh thanks for dealing with that!

On Sun, Jan 27, 2019 at 10:21 PM Daniela Saderi <notifications@github.com>
wrote:

[2019-01-28 17:20] rchampieux commented on #20
Hi @xolotl you should have editable access to the form - it's in the OpenCon Cascadia > Program > Do-a-Thon folder.  Also, was there a decision on Friday's call about how we'll post the submitted projects in advance?

[2019-01-28 21:30] theresacheng commented on #15
i think it looks good!

[2019-01-29 04:29] xolotl commented on #26
It sounds like a flexible setup for a variety of situations, which sounds like what's needed!

[2019-01-29 04:56] LuciMoore commented on #15
Hey, all. I'm wondering if you guys can help me draft what to say to introduce the DEI panel. I want this panel to be as successful as possible. I was thinking I could just re-word and extrapolate based on what's written in the program. ALSO I'd like to come up with a list of questions to ask in case the audience doesn't have any, so feel free to contribute these as well. Thanks!!!

https://docs.g

[2019-01-29 05:07] LuciMoore commented on #15
Also, minor detail, but should we have someone bring the microphone around to people in the crowd, or should people who have questions form a line at the front?

[2019-01-29 05:23] ashleyfarley commented on #15
I'm more than happy to run a mic around. - it isn't a huge group, but I
think it's nice to let people sit and ask questions in turn versus standing
in the front.

On Mon, Jan 28, 2019 at 9:07 PM Lucille Moore <notifications@github.com>
wrote:

[2019-01-29 05:35] LuciMoore commented on #15
@ashleyfarley I agree!

[2019-01-29 18:11] rchampieux commented on #26
Yes, it's a really modular space 💯

[2019-01-29 19:02] rchampieux commented on #25
Hi all - just confirming that I sent the email to our OS panelists.  Rather then trying to coordinate with Nick and have him send it (he's at a conference).  I just used the opportunity to introduce him.  Thanks @LuciMoore for creating the template, I just updated that for my purposes.  I also created a slide deck for the OS panel.

[2019-01-29 20:02] LuciMoore commented on #25
I also e-mailed the DEI panel

On Tue, Jan 29, 2019 at 11:02 AM Robin Champieux <notifications@github.com>
wrote:

[2019-01-30 03:05] rchampieux commented on #15
Me too!  I ordered this mic today, so we shouldn’t be a problem.  Using a mic is also really important for accessibility.

I’m so excited…we’re so close.

From: Ashley Farley <notifications@github.com>
Reply-To: OpenCon-Cascadia/planning_in_the_open <reply@reply.github.com>
Date: Monday, January 28, 2019 at 9:23 PM
To: OpenCon-Cascadia/planning_in_the_open <planning_in_the_open@noreply.github.com>

[2019-01-30 21:15] dasaderi opened #27 "keynote speakers honoraria"
@rchampieux I sent you Kadija's form. Will we have the check ready for this Saturday. I'm emailing Leslie again now to ask him to fill the forms. Worse case we can mail him the check later.

[2019-01-30 22:58] theresacheng commented on #15
I added suggested questions to the Google doc that @LuciMoore started! I also started adding "+" to the ones that I thought were particularly good options.

I'm hoping that others will refine question wordings, add questions, and/or add plus signs to show your favorites!

[2019-01-31 00:57] LuciMoore commented on #15
thanks @theresacheng! I'll likely be able to finish it tonight so that there is more to polish

[2019-01-31 04:31] rchampieux commented on #27
Hi...I passed on Kadija's form, but I haven't heard if the check is ready.  I will follow up.  Leslie's check with have to be mailed.....too late to get it processed.

[2019-02-03 01:12] LuciMoore commented on #16
by the way, I need a copy of the lunch receipt to submit to All Hill for reimbursement!

[2019-02-04 04:30] #26 closed, assigned to ashleyfarley

[2019-02-04 04:31] #25 closed, assigned to nobody

[2019-02-04 04:31] #24 closed, assigned to nobody

[2019-02-04 04:31] #22 closed, assigned to nobody

[2019-02-04 04:34] dasaderi commented on #23
Thank you @xolotl for putting this together. I made a couple of changes in the form directly. @rchampieux, would you like to review it? The survey form is in our shared folder. I will also ask Nick Shockey if he would be willing to review it. My goal is to have it out in the next couple of days.

@ashleyfarley, we should probably use the openconcascadia email for this. Would you be willing to send

[2019-02-04 04:34] #21 closed, assigned to dasaderi, rchampieux

[2019-02-04 04:35] #20 closed, assigned to nobody

[2019-02-04 04:35] #18 closed, assigned to xolotl, dasaderi, pamelapierce

[2019-02-04 04:35] #17 closed, assigned to ashleyfarley

[2019-02-04 04:36] #16 closed, assigned to dasaderi, rchampieux, lwinfree

[2019-02-04 04:36] #14 closed, assigned to rchampieux, dconner3, pamelapierce

[2019-02-04 04:36] #15 closed, assigned to walecain, dasaderi, theresacheng, LuciMoore

[2019-02-04 04:36] #10 closed

[2019-02-04 04:36] #6 closed

[2019-02-04 04:37] #4 closed

[2019-02-04 04:37] dasaderi commented on #27
Kadija's form is in. Need to get Leslie's. Emailing him now.

[2019-02-04 04:38] dasaderi opened #28 "Email participants with feedback survey"

[2019-02-04 04:41] dasaderi opened #29 "Email panels' speakers"
Email panelists to thank them and ask for permission to release their slides under CC-BY 4.0 license. Or we can ask them if they want to put them on Zenodo?

@rchampieux @LuciMoore, can you do this in the next couple of days? If not, let me know and I'll do it. Thanks!

[2019-02-04 04:41] dasaderi opened #30 "Email lightning task speakers"

[2019-02-04 04:46] LuciMoore commented on #29
I already e-mailed them and most have responded. I'll e-mail them again to specify the license info. If they want us to put them on Zenodo would the slides go on our website as well as Zenodo?

[2019-02-04 04:50] dasaderi commented on #29
I think to go on Zenodo they'd need to be made into a ppt or pdf? I have never done it. I have only put mine on Figshare, but Leslie recommended Zenodo. I would not feel comfortable sharing the google slide link without a license and I don't think you can attach one to gslides. Robin must know more about this. Let's wait for her comment.

[2019-02-04 04:52] LuciMoore commented on #29
cool. I'm just not sure if all of them will be familiar with Zenodo, so I would want to make sure to describe it in an e-mail and request their permission a second time to do that

[2019-02-05 21:24] LuciMoore commented on #29
@dasaderi all of my panelists agreed to sharing their slides on the website. let me know if you want me to ask them about Zenodo as well

[2019-02-14 06:36] LuciMoore commented on #29
hey @dasaderi & @rchampieux some people are asking me about when presentation slides are going to be posted to the website. can I help make this happen?

[2019-02-14 06:44] dasaderi commented on #29
Yes, sorry. I'm super swamped as I'm traveling for two weeks. Maybe @lwinfree or @Bubblbu can help? Thanks!

[2019-02-14 16:43] rchampieux commented on #29
Hi @dasaderi and @LuciMoore, I can help make this happen too.  Thanks Luci for putting it back on our radar.  I'm thinking it might be best to make the speaker slides accessible from each speakers bio and we can note this on the panel descriptions.  @dasaderi are Leslie and Kadija's slides in the Drive?

[2019-02-22 07:35] LuciMoore commented on #29
Hey, guys, I just wanted to follow up. I can e-mail the keynotes to ask for
their slides (and Kadija's transcript) and permission to publish on the
website if that is helpful. thanks!
Luci

On Thu, Feb 14, 2019 at 8:43 AM Robin Champieux <notifications@github.com>
wrote:

[2019-03-07 05:31] LuciMoore commented on #29
Hey, all! Where are we with this? Do we still want to share the
presentations?

On Thu, Feb 21, 2019 at 11:34 PM Luci Moore <lucille.a.mo@gmail.com> wrote:

[2019-03-07 23:42] dasaderi commented on #29
Hi Luci,

I think Kadija would be glad to share and Leslie might have already shared
somewhere. If you could email them and ask, that would be grand!
chan@utsc.utoronto.ca
kadija.ferryman@gmail.com

Thanks,
Daniela

On Wed, Mar 6, 2019 at 9:31 PM Lucille Moore <notifications@github.com>
wrote:

--

*Daniela Saderi*

*Ph.D. Candidate *

*Neuroscience Graduate Program*

*Oregon Health & Science Univ

[2019-03-12 06:07] LuciMoore commented on #29
Okay I e-mailed them and will let you guys know

[2019-03-15 18:15] LuciMoore commented on #29
Kadija sent me her slides, so I can add them to the Drive. Leslie said he is going to publish his slides on Zenodo and will send us the link.

[2019-03-18 17:31] LuciMoore commented on #29
Kadija's slides are on the drived (https://drive.google.com/drive/folders/1svBfIM695iOKERqfZ_5V0K9Kz3otdhq0) and Leslie's slides are on Zenodo: https://zenodo.org/record/2596865#.XI_VfVNKjBJ
@rchampieux would you still be able to handle putting these on the website?

[2019-03-29 21:34] LuciMoore commented on #29
@Bubblbu we want to add the panel and presenter slides to the website. would you be able to do this? if not I can ask @dasaderi. The slides should all be on the drive. Leslie published his slides on Zenodo at: https://zenodo.org/record/2596865#.XI_VfVNKjBJ

[2019-04-04 04:10] Bubblbu commented on #29
Hey @LuciMoore, sorry I've been swamped the last few weeks. Have seen this and will try to squeeze it in this week.

Wondering where and how we should link to the material? In the program and outlinks to the PDFs directly (or the Zenodo repository in the case of Leslie)?

[2019-04-05 23:14] LuciMoore commented on #29
hey @Bubblbu! sure putting links in the program sounds good to me. do you have any thoughts @dasaderi ?

[2019-04-24 04:13] LuciMoore commented on #29
hey @dasaderi and @Bubblbu sorry to keep bugging you guys, I just want to make sure this doesn't fall off of the radar. if one of you has time to do this let me know!

[2019-04-25 00:49] Bubblbu commented on #29
This [PR](https://github.com/OpenCon-Cascadia/OpenCon-Cascadia.github.io/pull/60) should have added two links in the program overview. not super happy about that solution, but we've got it online for now

sorry for the delay!

[2019-04-25 01:04] LuciMoore commented on #29
thanks Asura!

On Wed, Apr 24, 2019 at 5:49 PM Asura Enkhbayar <notifications@github.com>
wrote: